<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Tasks</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <h1>DAILY TASKS</h1> 
    <div class="card">
    <% for(task of tasks) {%>
        <div class="taskCard">
            <h2 class="task">Task : <%= task.task %></h2>
            <h3 class="description">Description :</h3>  
            <p class="description-Box"><%= task.description %></p> 
            <a href="http://localhost:8080/tasks/<%=task.id%>"> Show in Detail</a>
        </div>
    <% } %>
    </div>

    <br><br><br>

    <a href="http://localhost:8080/tasks/new"> Create new task!</a>
</body>
</html>

