<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task in Detail</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <h2>Here is your Task in detail</h2>
    <p>Task id : <%= task.id %></p>
    <div class="taskCard">
        <h2 class="task">Task : <%= task.task %></h2>
        <h3 class="description">Description :</h3>  
        <p class="description-Box"><%= task.description %></p> 
    </div>
</body>
</html>