

h1 {
    color: red;
    display: inline;
}

/* body {
    display: flex;
} */

.card {
    display: flex;
    flex-wrap: wrap;
}

.taskCard {
    /* display: inline-block; */
    /* display: inline-flex; */
    height: 15rem;
    width: 15rem;
    background-color: rgb(173, 107, 107);
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    transition: 1s ease-in-out;
    border-style: ridge;
    border-color: rgb(52, 36, 36);
    /* box-shadow: 10px;
    box-shadow: color(prophoto-rgb rgb(52, 36, 36)); */
}

.taskCard:hover {
    height: 15.4rem;
    width: 15.4rem;
    border-radius: 15%;
}

.task {
    align-self: center;
    justify-content: center;
    text-align: center;
}

.description {

}